html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  background-color: #888;
  color: #fff;
  font-family: "Quattrocento Sans",sans-serif;
   /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a,
a {
  color: #f39200;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
a:focus, a:hover {
    color: #fff;
    text-decoration: underline;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    text-decoration: underline;
    background-color: #888;
}

.navbar-default {
    background-color: inherit;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.topMargin {
    margin-top: 8px !important;
}

.page-header {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
