a#shareBoxLink {
    background: url(images/icon-share.png) no-repeat center left;
    padding-left: 22px;
    cursor: pointer;
    text-decoration: none;
}

#share-box-wrapper {
    position:absolute;
    display:none;
    padding: 20px 0 0 0;
}

#share-box-wrapper #share-box-top {
    width: 138px;
    height: 16px;
    background: url(images/share-box-top.png) no-repeat center center;
}

#share-box-wrapper #share-box-bottom {
    width: 138px;
    height: 16px;
    background: url(images/share-box-bottom.png) no-repeat center center;
}

#share-box-wrapper #share-box-body {
    width: 138px;
    background: url(images/share-box-body.png) repeat-y;
    margin: 0;
    padding: 0;
}

#share-box-wrapper ul#socialLinks {
    margin: 0;
    padding: 1px 0 0 8px;
    list-style:none;
}

#share-box-wrapper ul#socialLinks li {
    float: left;
    display: inline;
    padding: 0 2px 0 2px;
}

#share-box-wrapper ul#socialLinks li a {
    margin: 0;
    padding: 0;
}

p#w3cValid {
    margin: 0;
    padding: 0;
}

p#w3cValid img {
    border: 0;
}